# Replace this file with a file named CNAME containing your custom domain (one line), for example:
# app.example.com
#
# When ready, rename/remove this file to "CNAME" and add your domain (no trailing slash).
